                                        Text_Pre-Processing_NLP 

                                         DataSet [" Twitter "]

In [40]:
# Import_Libraries

In [42]:
import pandas as pd

In [ ]:
# Here below we can my columns and each row is Tweet.

In [44]:
df = pd.read_csv(r"C:\Users\DELL\Music\Twitter_Dataset\twitter.csv.csv")
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

- As in my outcome there is a [ # & @ ] symbols. So for that I will 1st remove those noises & keep only the Text.

- There is function called - [ remove_punctuation ] 

- what string.punctuation actually is all these noises symbols. I have used that to remove all the symbols and keep text only.

In [50]:
import string 
string.punctuation

def remove_punctuation(text):
    return ''.join([i for i in text if i not in string.punctuation])

In [56]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
# Here I have create new column called - 'tweet_clean', where we can see orginal Tweet its clear all the symbols.

In [58]:
df['tweet_clean'] = df['tweet'].apply(lambda x: remove_punctuation(x))
df.head()

,id,label,tweet,tweet_clean,tweet_tokenized
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can..."
2,3,0,bihday your majesty,bihday your majesty,"[, , bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, , , i, love, u, take, with, u, all, th..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, , , , motivation]"

In [ ]:
# Here another function it splits the text into words.

In [54]:
import re 
def tokenize(text):
    return text.split(' ')

df['tweet_tokenized'] = df['tweet_clean'].apply(lambda x: tokenize(x))
df.head()

,id,label,tweet,tweet_clean,tweet_tokenized
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can..."
2,3,0,bihday your majesty,bihday your majesty,"[, , bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, , , i, love, u, take, with, u, all, th..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, , , , motivation]"

In [28]:
from nltk.stem.porter import PorterStemmer 

stemmer = PorterStemmer() 
def stemm(text):
    return [stemmer.stem(word) for word in text] 

df['tweet_stemmed'] = df['tweet_tokenized'].apply(lambda x: stemm(x))

In [32]:
df.head()

,id,label,tweet,tweet_clean,tweet_tokenized,tweet_stemmed
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a...","[, user, when, a, father, is, dysfunct, and, i..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can...","[user, user, thank, for, lyft, credit, i, cant..."
2,3,0,bihday your majesty,bihday your majesty,"[, , bihday, your, majesty]","[, , bihday, your, majesti]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, , , i, love, u, take, with, u, all, th...","[model, , , i, love, u, take, with, u, all, th..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, , , , motivation]","[, factsguid, societi, now, , , , motiv]"

In [34]:
import nltk
from nltk.stem import WordNetLemmatizer
nltk.download("wordnet")
nltk.download("omw-1.4")
# Initialize wordnet lemmatizer
wnl = WordNetLemmatizer()
def lemmatization(text):
    return [wnl.lemmatize(w, pos='v') for w in text]

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...

In [36]:
def lemmatization(text):
    return [wnl.lemmatize(w, pos='v') for w in text]

df['tweet_lemmatized'] = df['tweet_tokenized'].apply(lambda x: lemmatization(x))

In [38]:
df.head()

,id,label,tweet,tweet_clean,tweet_tokenized,tweet_stemmed,tweet_lemmatized
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a...","[, user, when, a, father, is, dysfunct, and, i...","[, user, when, a, father, be, dysfunctional, a..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can...","[user, user, thank, for, lyft, credit, i, cant...","[user, user, thank, for, lyft, credit, i, cant..."
2,3,0,bihday your majesty,bihday your majesty,"[, , bihday, your, majesty]","[, , bihday, your, majesti]","[, , bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, , , i, love, u, take, with, u, all, th...","[model, , , i, love, u, take, with, u, all, th...","[model, , , i, love, u, take, with, u, all, th..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, , , , motivation]","[, factsguid, societi, now, , , , motiv]","[, factsguide, society, now, , , , motivation]"

In [62]:
# Here lets suppose we take the first 10 dataset.

# As we can see 1."Camping" become "Camp"  2. "Talking" become "Talk" 3. But Majesty and Motivation became as it is same.

In [60]:
df.head(10)

,id,label,tweet,tweet_clean,tweet_tokenized
0,1,0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...,"[, user, when, a, father, is, dysfunctional, a..."
1,2,0,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...,"[user, user, thanks, for, lyft, credit, i, can..."
2,3,0,bihday your majesty,bihday your majesty,"[, , bihday, your, majesty]"
3,4,0,#model i love u take with u all the time in ...,model i love u take with u all the time in u...,"[model, , , i, love, u, take, with, u, all, th..."
4,5,0,factsguide: society now #motivation,factsguide society now motivation,"[, factsguide, society, now, , , , motivation]"
5,6,0,[2/2] huge fan fare and big talking before the...,22 huge fan fare and big talking before they l...,"[22, huge, fan, fare, and, big, talking, befor..."
6,7,0,@user camping tomorrow @user @user @user @use...,user camping tomorrow user user user user use...,"[, user, camping, tomorrow, user, user, user, ..."
7,8,0,the next school year is the year for exams.ð...,the next school year is the year for examsð¯...,"[the, next, school, year, is, the, year, for, ..."
8,9,0,we won!!! love the land!!! #allin #cavs #champ...,we won love the land allin cavs champions clev...,"[we, won, love, the, land, allin, cavs, champi..."
9,10,0,@user @user welcome here ! i'm it's so #gr...,user user welcome here im its so gr8,"[, user, user, welcome, here, , , im, , , its,..."